.DS_Store
*.pyc*
PKG-INFO
SOURCES.txt
dependency_links.txt
top_level.txt
__pycache__/*
settings.json
clease/cython/clease_cxx.cpp
*.gch
clease.egg-info/*
.vscode/*
*.so
*.o
gui_tests/*.txt
doc/build/*
doc/*.db
dist/*
build/*
cxx/cython/clease_cxx.cpp
*editor.txt
*.log
*.coverage
*.db
